<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <br/>

    <div class="row" >
      
      <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
    <form 
    method="POST"
    action="/listings" 
    novalidate 
    class="needs-validation" 
    enctype="multipart/form-data"
    >

      <div class="md-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" class="form-control" type="text" required />
        <div class="valid-feedback">Title look good!</div>
      </div>
      
      <div class="md-3">
        <label for="Description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        placeholder="enter description"
        class="form-control" required
      ></textarea>
      <div class="invalid-feedback">Please add a short description</div>
      </div>
      
      <div class="md-3">
        <label for="Image" class="form-label">Upload Image</label>
        <input
        name="listing[image]"
        type="file"
        class="form-control"

      />
      
      </div>
      
      <div class="row">
        <div class="md-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" placeholder="enter price"  class="form-control" required/>
          <div class="invalid-feedback">Please add a valid Price</div>
        </div>
        
        <div class="md-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
          <div class="invalid-feedback">Please add a valid Country</div>
        </div>
      </div>
    
      
      <div class="md-3">
        <label for="location" class="form-label">location</label>
        <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Please add a valid Location</div>
      </div>
      
      
      <button class="btn btn-dark mt-4 mb-4 add-btn">Add</button>
    </form>
  </div>
  </div>
  </body>
</html>
